@model VertaMeet.Models.AdminViewModel
@{
    ViewBag.Title = "Log in";
}
@section PageScripts
{
    <script src="@Url.Content("~/Scripts/admin.js")"></script>
}
@section PageStyles
{
    <link href="../../Content/Site.css" type="text/css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Log in!</strong>
                </h2>
                <hr class="visible-xs">
                <p>You like the sound of our service and you're ready to get the ball rolling to exercise your passion within Vertafore! Fill out the form to get started!:</p>
                <hr class="visible-xs">
                <div class="login">
                    <form id="inital-login-form" onsubmit="return false;">
                        <fieldset>
                            <input name="Id" type="hidden" value="-2" />

                            <label>Name: </label>
                            <input name="Name" type="text" required />
                            <br />
                            <label>Email: </label>
                            <input name="Email" type="text" required />
                            <br />
                            <label>Location: </label>
                            <select name="Location" required>
                                <option disabled selected value=""> -- Select a Location -- </option>
                                <option value="Atlanta">Atlanta</option>
                                <option value="Bothell">Bothell</option>
                                <option value="Boulder">Boulder</option>
                                <option value="Deerfield">Deerfield</option>
                                <option value="EastLansing">EastLansing</option>
                                <option value="Indianapolis">Indianapolis</option>
                                <option value="Pulaski">Pulaski</option>
                                <option value="Windsor">Windsor</option>
                                <option value="WoodlandHills">WoodlandHills</option>
                            </select>
                            <br />
                            <br />
                            <input type="submit" value="Login!" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
