@model VertaMeet.Models.AdminViewModel
@{
    ViewBag.Title = "Register";
}
@section PageScripts
{
    <script src="@Url.Content("~/Scripts/admin.js")"></script>
}
@section PageStyles
{
    <link href="../../Content/Site.css" type="text/css" rel="stylesheet" />
}

<h2>@ViewBag.Title.</h2>

<h4>You like the sound of our service and you're ready to get the ball rolling to exercise your passion within Vertafore! Fill out the form to get started: </h4>
<form id="create_user" onsubmit="return false;">
    <fieldset>
        <input name="Id" type="hidden" value="-2" />

        <label>Name: </label>
        <input name="Name" type="text" />

        <label>Email: </label>
        <input name="Email" type="text" />

        <label>Location: </label>
        <select name="Location">
            <option value="Atlanta">Atlanta</option>
            <option value="Bothell">Bothell</option>
            <option value="Boulder">Boulder</option>
            <option value="Deerfield">Deerfield</option>
            <option value="EastLansing">EastLansing</option>
            <option value="Indianapolis">Indianapolis</option>
            <option value="Pulaski">Pulaski</option>
            <option value="Windsor">Windsor</option>
            <option value="WoodlandHills">WoodlandHills</option>
        </select>

        <input type="submit" value="Create User" />
    </fieldset>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="">Register</strong>

                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    <label class="">
                                        <input type="checkbox" class="">Remember me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">Sign in</button>
                                <button type="reset" class="btn btn-default btn-sm">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Not Registered? <a href="#" class="">Register here</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
