@model VertaMeet.Models.GroupViewModel
@{
    ViewBag.Title =" Group";
}

<style type="text/css">
    #ProfilePage {
        /* Move it off the top of the page, then centre it horizontally */
        margin: 15px auto;
        width: 75%;
        /* For visibility. Delete me */
        border: 1px solid red;
        text-align:center;
    }

    #ProfileButtons {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    #ProfileOptions {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        border: 1px solid black;
    }

    #Members {
        display:none;
        align-content:center;
        align-items:center;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        border: 1px solid black;
    }

    #Photoz {
        display:none;
        align-content:center;
        align-items:center;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        border: 1px solid black;
    }

    #UserPhoto {
        display: inline;
        width: 50px;
        height: 50px;
    }

    #DisplayPhotos {
        display: inline;
        width: 50px;
        height: 50px;
    }

    #UpcomingEvents {
        align-content:center;
        align-items:center;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        border: 1px solid black;
    }

    #LeftCol {
        /* Move it to the left */
        display:inline-block;
        width: 200px;
        text-align: center;
        /* Move it away from the content */
        margin-right: 20px;
        /* For visibility. Delete me */
        border: 1px solid brown;
    }

    #Photo {
        /* Width and height of photo container */
        width: 300px;
        height: 200px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        /* For visibility. Delete me */
        border: 1px solid green;
    }

    #PhotoOptions {
        text-align: center;
        width: 200px;
        /* For visibility. Delete me */
        border: 1px solid brown;
    }

    #Info {
        visibility: hidden; /*Temp*/
        width: 400px;
        text-align: center;
        /* Move it to the right */
        float: right;
        /* For visibility. Delete me */
        border: 1px solid blue;
    }

        #Info strong {
            /* Give it a width */
            display: inline-block;
            width: 100px;
            /* For visibility. Delete me */
            border: 1px solid orange;
        }

        #Info span {
            /* Give it a width */
            display: inline-block;
            width: 250px;
            /* For visibility. Delete me */
            border: 1px solid purple;
        }
</style>

<h1 align="center"><b>Vertafore Sea Kayaking Group!</b></h1>

<div id="ProfilePage">
    <div id="Photo">
        <img src="http://photos3.meetupstatic.com/photos/event/6/8/b/a/600_437186810.jpeg">
    </div>
    <div id="ProfileButtons">
        <button id="AboutB" onclick="about()">About</button>    <button id="MembersB" onclick="members()">Members</button>    <button id="PhotozB" onclick="photos()">Photos</button>
    </div>
    <div id="ProfileOptions">
        Meet other Sea Kayakers. Get together for weeknight social paddles a few times a month. Discuss gear/plan day/overnight trips.<br />

        Previous experience/lessons not needed for some of the day paddles, recommended or required for some of the trips. Trips will be geared for intermediate to adv paddlers. Beginner trips may be added.<br />

        I'll schedule some basic safety meetups to go over things like strokes, bracing, rescues, chart reading and some of the many local resources on about a monthly basis, and would look forward to additional assistant organizers to help out with these and with putting trips together.

        <br />Who's ready to paddle now?
    </div>
    <div id="Members">
        <img id="UserPhoto" src="http://blogs.asce.org/wp-content/uploads/2014/01/M.-Landschoot.jpg">
        <img id="UserPhoto" src="http://www.brocku.ca/brock-news/wp-content/uploads/cache/3395_NpAdvHover.jpg">
        <img id="UserPhoto" src="http://defwalls.com/wallpapers-n/women-people-faces-_4209-43.jpg">
    </div>
    <div id="Photoz">
        <img id="UserPhoto" src="https://upload.wikimedia.org/wikipedia/en/6/65/Sea_Kayaking_Wilsons_Promontory.jpg">
        <img id="UserPhoto" src="http://blog.bluemoonfund.org/wp-content/uploads/2012/04/Beth-kayak-1.jpg">
        <img id="UserPhoto" src="http://www.charlestonoutdooradventures.com/wp-content/uploads/2010/03/DSCN05623.jpg">
    </div>
    <h3>Upcoming Events...</h3>
    <div class="tiles red" id="UpcomingEvents">
        <table>
            <tr>
                <td>
                    <div class="live-tile" id="tile1" data-mode="flip">
                        <div>
                            <img src="http://alaskamountainguides.com/wp-content/uploads/2011/01/0607-Alaska-Ultimate-Adventure-244_JohnBaton.jpg" height="150" width="150">
                            <a class="full" href="#">Whidby Island Kayaking</a>
                            <span class="tile-title">Whidby Island Kayaking</span>
                        </div>
                        <div>
                            <a href="#"><img src="http://www.whidbeycamanoislands.com/images/zoom/zoom_82.jpg" height="150" width="150"></a>
                            <span class="tile-title">Whidby Island Kayaking</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="live-tile" id="tile2" data-mode="flip">
                        <div>
                            <img src="http://3.bp.blogspot.com/-IATdEHIwXW0/T9USxwSTlZI/AAAAAAAAB_g/Tp-WPpN6_Tw/s1600/Ska%CC%88rmavbild+2012-06-09+kl.+10.58.01.png" height="150" width="150">
                            <a class="full" href="#">Seal Watching</a>
                            <span class="tile-title">Seal Watching</span>
                        </div>
                        <div>
                            <a href="#"><img src="http://www.pelican-point-kayaking.com/page4/files/Kayaking11.jpg" height="150" width="150"></a>
                            <span class="tile-title">Seal Watching</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="live-tile" id="tile3" data-mode="flip">
                        <div>
                            <img src="http://www.bluewaterskayaking.com/wp-content/uploads/beach-camp-scene.jpg" height="150" width="150">
                            <a class="full" href="#">Beach Camping</a>
                            <span class="tile-title">Beach Camping</span>
                        </div>
                        <div>
                            <a href="#"><img src="http://pointreyesoutdoors.com/sites/default/files/styles/slideshow-650px-175px/public/galleryimages/Girl-Scout-Kayaking_0.jpg?itok=GMQAtECH" height="150" width="150"></a>
                            <span class="tile-title">Beach Camping</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="live-tile" id="tile3" data-mode="flip">
                        <div>
                            <img src="http://www.malibukayaks.com/wp-content/uploads/Malibu-Kayaks-Mini-X-Stealth-9-Fishing-Kayaks.jpg" height="150" width="150">
                            <a class="full" href="#">Kayak Fishing</a>
                            <span class="tile-title">Kayak Fishing</span>
                        </div>
                        <div>
                            <a href="#"><img src="http://ww1.hdnux.com/photos/33/07/17/7107564/7/622x350.jpg" height="150" width="150"></a>
                            <span class="tile-title">Kayak Fishing</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="Info">
        <p>
        <strong>Name:</strong>
         <span>Sirjon</span>
        </p>
        <p>
        <strong>Name:</strong>
        <span>Sirjon</span>
        </p>
        <p>
        <strong>Name:</strong>
          <span>Sirjon</span>
         </p>
          <p>
         <strong>Name:</strong>
        <span>Sirjon</span>
         </p>
         <p>
        <strong>Name:</strong>
        <span>Sirjon</span>
        </p>
         </div>

            <!-- Needed because other elements inside ProfilePage have floats -->
            <div style="clear:both"></div>
</div>

<script src="http://www.drewgreenwell.com/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="http://www.drewgreenwell.com/Scripts/MetroJs/bundles/MetroJs.js" type="text/javascript"></script>

<script type="text/javascript">
    //play on hover
    var $tiles = $("#tile1, #tile2, #tile3").liveTile({
        playOnHover: true,
        repeatCount: 0,
        delay: 0,
        startNow: false
    });
</script>
    
<script>
        function about() {
            document.getElementById("ProfileOptions").style.display = "block";
            document.getElementById("Members").style.display = "none";
            document.getElementById("Photoz").style.display = "none";
        }
        function members() {
            document.getElementById("ProfileOptions").style.display = "none";
            document.getElementById("Members").style.display = "block";
            document.getElementById("Photoz").style.display = "none";
        }
        function photos() {
            document.getElementById("ProfileOptions").style.display = "none";
            document.getElementById("Members").style.display = "none";
            document.getElementById("Photoz").style.display = "block";
        }
    </script>
