@model VertaMeet.Models.EventViewModel
@{
    ViewBag.Title = Model.Event.Name + " Group";
}

<style type="text/css">
    #ProfilePage {
        /* Move it off the top of the page, then centre it horizontally */
        margin: 15px auto;
        width: 75%;
        /* For visibility. Delete me */
        border: 1px solid red;
        text-align: center;
    }

    #ProfileButtons {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    #ProfileOptions {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        /*border: 1px solid black;*/
    }

    #Members {
        display: none;
        align-content: center;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        /*border: 1px solid black;*/
    }

    #Photoz {
        display: none;
        align-content: center;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        /*border: 1px solid black;*/
    }

    #UserPhoto {
        display: inline;
        width: 50px;
        height: 50px;
    }

    #DisplayPhotos {
        display: inline;
        width: 50px;
        height: 50px;
    }

    #UpcomingEvents {
        align-content: center;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        /*border: 1px solid black;*/
    }

    #LeftCol {
        /* Move it to the left */
        display: inline-block;
        width: 200px;
        text-align: center;
        /* Move it away from the content */
        margin-right: 20px;
        /* For visibility. Delete me */
        border: 1px solid brown;
    }

    #Photo {
        /* Width and height of photo container */
        width: 300px;
        height: 200px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        /* For visibility. Delete me */
        border: 1px solid green;
    }

    #PhotoOptions {
        text-align: center;
        width: 200px;
        /* For visibility. Delete me */
        border: 1px solid brown;
    }

    #Info {
        visibility: hidden; /*Temp*/
        width: 400px;
        text-align: center;
        /* Move it to the right */
        float: right;
        /* For visibility. Delete me */
        border: 1px solid blue;
    }

        #Info strong {
            /* Give it a width */
            display: inline-block;
            width: 100px;
            /* For visibility. Delete me */
            border: 1px solid orange;
        }

        #Info span {
            /* Give it a width */
            display: inline-block;
            width: 250px;
            /* For visibility. Delete me */
            border: 1px solid purple;
        }
</style>
<div class="container">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>Welcome to @Model.Event.Name!</strong>
            </h2>
            <hr>
            <img class="img-responsive img-border img-center" src="@Model.Event.ImageUrl" alt="">
            <hr class="visible-xs">
            <div id="ProfileButtons" role="group" aria-label="...">
                <button type="button" class="btn btn-default" id="AboutB" onclick="about()">About</button>
                <button type="button" class="btn btn-default" id="MembersB" onclick="members()">Attendees</button>
            </div>
            <div id="ProfileOptions">
                <p>@Model.Event.Description</p>
            </div>
            <div id="Members">
                @foreach (var membr in Model.Event.Attendees)
                {
                    <a href="#" title=@membr.Name><img id="UserPhoto" src="http://lwos.lastwordonsports.netdna-cdn.com/lwos-content/uploads/2013/07/silhouette.jpg" alt=@membr.Name></a>
                }
            </div>

            <!-- Image Gallery for Events not implemented -->
            <!--
            <div id="Photoz">
            <img id="UserPhoto" src="https://upload.wikimedia.org/wikipedia/en/6/65/Sea_Kayaking_Wilsons_Promontory.jpg">
            <img id="UserPhoto" src="http://blog.bluemoonfund.org/wp-content/uploads/2012/04/Beth-kayak-1.jpg">
            <img id="UserPhoto" src="http://www.charlestonoutdooradventures.com/wp-content/uploads/2010/03/DSCN05623.jpg">
            </div>
            -->

        </div>
    </div>
</div>

<script>
    function about() {
        document.getElementById("ProfileOptions").style.display = "block";
        document.getElementById("Members").style.display = "none";
        document.getElementById("Photoz").style.display = "none";
    }
    function members() {
        document.getElementById("ProfileOptions").style.display = "none";
        document.getElementById("Members").style.display = "block";
        document.getElementById("Photoz").style.display = "none";
    }
    function photos() {
        document.getElementById("ProfileOptions").style.display = "none";
        document.getElementById("Members").style.display = "none";
        document.getElementById("Photoz").style.display = "block";
    }
</script>
