@model VertaMeet.Models.EventViewModel
@{
    ViewBag.Title =" Group";
}

<!--
    <h1>hello world</h1>
    <div>Event name: @Model.Event.Name</div>
    <div>Description: @Model.Event.Description</div>
    <div>Number of attendees: @Model.Event.Attendees.Count</div>
    <img src="@Model.Event.ImageUrl" alt="Event Image"/>
-->
