@{
    //ViewBag.Title = "About";
}
<!--
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
-->

<div id="main">
    <div class="section first">
        <h2><b>VertaMEET</b></h2>
        <ul>
            <li>is a place where employees can create or join groups and attend events based on their interests with the goal of developing relationships, improving themselves and the Vertafore community.</li>
        </ul>
    </div>
    <div class="section">
        <h2><b>VertaMEET's Mission</b></h2>
        <ul>
            <li>is to create more opportunities and provide a simple way for employees to socialize and revitalize the company culture. </li>
        </ul>
    </div>
    <div class="section">
        <h2>How VertaMEET benefits Employees:</h2>
        <ul>
            <li>More opportunities to meet & connect with other people across departments</li>
            <li>Build professional network</li>
            <li>Develop positive, personal relationships</li>
            <li>Simple &Aacute; easy to use</li>
            <li>Come to work happier</li>
        </ul>
    </div>
    <div class="section">
        <h2>How VertaMEET benefits Vertafore:</h2>
        <ul>
            <li>Improves & builds company culture</li>
            <li>Stronger work ethic between all departments, building stronger communities</li>
            <li>Promotes enthusiastic, engaged & productive employees</li>
            <li>Results in higher employee engagement and retention; making Vertafore a more desirable place to work</li>
        </ul>
    </div>
    <div class="section last">
        <h2>Future Considerations</h2>
        <ul>
            <li>/*Stuff we would add if we had time.*/</li>
        </ul>
    </div>
</div>
