@{
    ViewBag.Title = "About";
}

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong style="font:200px">About:</strong>
                    </h2>
                    <hr>
                    
                    <hr class="visible-xs">
                    <p>VertaMeet was created and built by a group of intern’s at Vertafore’s headquarters in Bothell, WA as part of their 2015 Summer Internship Innovation Challenge. The 2nd Annual Intern Innovation Challenge tasked interns with creating a project to “Make Verafore Better.” VertaMeet was created with the goal of improving the Vertafore community, and increasing interdepartmental interaction. VertaMeet fills this need through the organization of casual, fun events based on interests to build the community, connect Vertaforians, and learn about each other.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Our 
                        <strong>Mission</strong>
                    </h2>
                    <hr class="visible-xs">
                    <p>VertaMeet’s mission is to create more opportunities and provide a simple way for employees to socialize, and revitalize the company culture. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        How VertaMeet benefits Employees:
                    </h2>
                    <hr class="visible-xs">
                    <ul>
                        <li><p>More opportunities to meet & connect with other people across departments</p></li>
                        <li><p>Build professional network</p></li>
                        <li><p>Develop positive, personal relationships</p></li>
                        <li><p>Simple & easy to use</p></li>
                        <li><p>Come to work happier</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        How VertaMeet benefits Vertafore:
                    </h2>
                    <hr class="visible-xs">
                    <ul>
                        <li><p>Improves & builds company culture</p></li>
                        <li><p>Stronger work ethic between all departments, building stronger communities </p></li>
                        <li><p>Promotes enthusiastic, engaged & productive employees </p></li>
                        <li><p>High employee engagement and retention, making Vertafore a more desirable place to work</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
