@{
    ViewBag.Title = "About";
}

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>VertaMEET!</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="https://c2.staticflickr.com/8/7535/16107080348_a23bd55f36_c.jpg" alt="">
                    <hr class="visible-xs">
                    <p>A place where employees can create or join groups and attend events based on their interests with the goal of developing relationships, improving themselves and the Vertafore community.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Our 
                        <strong>Mission</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="https://c2.staticflickr.com/8/7530/16294622295_b7d44d4207_c.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Is to create more opportunities and provide a simple way for employees to socialize and revitalize the company culture.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        How VertaMEET benefits Employees:
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="https://c2.staticflickr.com/8/7515/16108490969_1b53d43d92_c.jpg" alt="">
                    <hr class="visible-xs">
                    <ul>
                        <li><p>More opportunities to meet & connect with other people across departments</p></li>
                        <li><p>Build professional network</p></li>
                        <li><p>Develop positive, personal relationships</p></li>
                        <li><p>Simple & easy to use</p></li>
                        <li><p>Come to work happier</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
