@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Contact us at VertaMeet@Vertafore.com!</strong>
                </h2>
                <hr>
                <hr class="visible-xs">
                <p>We are a group of Interns at Vertafore's Headquarters in Bothell Washington. Our goal is to revitalize the Vertaforian community and help people at all of Vertafore's offices self-organize. We believe that people can change their community and themselves through social interactions with groups of people that empower them to be differnece makers.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Our Team</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" style="width: 75px; height; 90px;" src="http://chunm.github.io/resumeWebsite/images/michael-chun-250.jpg" alt="">
                <hr class="visible-xs">
                <p><strong>Michael Chun, Developer</strong><br />Senior CS major at Western Washington University, set to graduate in 2016. When he is not engaged in school work or programming, he can often be found working on various side projects, contributing to Mozilla, moderating for WWU Humans vs Zombies, or working as the President and Treasurer of the League of Vikings(WWU's Gaming Club).</p>
                <hr class="visible-xs">
                <img class="img-responsive img-border img-left" style="width: 75px; height; 90px;" src="https://vertafore.app.box.com/representation/file_version_31263622897/image_2048_jpg/1.jpg?shared_name=sit4vndvsu1t8a18rnl4uudo3jlvfn42" alt="">
                <hr class="visible-xs">
                <p><strong>Jake Magill, Developer</strong><br />Junior CS major at University of Washington. Jake has worked as an intern for Vertafore, Socedo and Microsoft. He has served as the Computer Chairman at his fraternity, Phi Kappa Psi, and is commonly known as good guy Jake. In his free time you can catch him on the summit at Snoqualmie as a Ski Instructor or working on his Spanish; of which he boasts a limited working proficiency.</p>
                <hr class="visible-xs">
                <img class="img-responsive img-border img-left" style="width: 75px; height; 90px;" src="https://vertafore.app.box.com/representation/file_version_31263640589/image_2048_jpg/1.jpg?shared_name=sit4vndvsu1t8a18rnl4uudo3jlvfn42" alt="">
                <hr class="visible-xs">
                <p><strong>Gloria Gronka, Marketing</strong><br />Senior at the University of Washington Bothell where she majors in Communication and edia Studies. A jack of all trades Gloria has worked in capacities ranging from Fitness Consultant to Marketing intern. Ever the chipper person Gloria is always reasonable and quick to listen as well as speak her mind. A very polite girl.</p>
                <hr class="visible-xs">
                <img class="img-responsive img-border img-left" style="width: 75px; height; 90px;" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/04f/2cc/39d99d8.jpg" alt="">
                <hr class="visible-xs">
                <p><strong>Nathan 'O Farrell, Finance</strong><br />Currently a Senior at the University of Portland pursuing a degree in Finance, and a minor in Economics. Having just returned from a semester abroad at the University of Notre Dame in Fremantle, Australia, Nathan returned to working as an Order Management Intern at Vertafore doing primarily business data analytics. In his spare time Nathan loves to play frisbee, read, and cook.</p>
                <hr class="visible-xs">
                <img class="img-responsive img-border img-left" style="width: 75px; height; 90px;" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/005/027/0e0/166f832.jpg" alt="">
                <hr class="visible-xs">
                <p><strong>Maia Miller, Human Resources</strong><br />Maia is a senior at Gocuher College where she is pursuing a degree in Business Management, and a minor in Psychology. Maia is a member of the Varsity Equestrian Team, and in her free time can often be found cooking and baking. As Vertafore’s HR Intern Maia can often be found rotating through each HR function, and recently she planned the Intern Community Outreach Day for University Relations.
</p>
                

            </div>
        </div>
    </div>
</div>