@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Contact us!</strong>
                </h2>
                <hr>
                <hr class="visible-xs">
                <p>We are a group of Interns at Vertafore's Headquarters in Bothell Washington. Our goal is to revitalize the Vertaforian community and help people at all of Vertafore's offices self-organize. We believe that people can change their community and themselves through social interactions with groups of people that empower them to be differnece makers.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Our Team</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" style="width: 75px; height; 90px;" src="http://chunm.github.io/resumeWebsite/images/michael-chun-250.jpg" alt="">
                <hr class="visible-xs">
                <p><strong>Michael Chun, Developer</strong><br />Senior CS major at Western Washington University, set to graduate in 2016. When he is not engaged in school work or programming, he can often be found working on various side projects, contributing to Mozilla, moderating for WWU Humans vs Zombies, or working as the President and Treasurer of the League of Vikings(WWU's Gaming Club).</p>
                <hr class="visible-xs">
                <img class="img-responsive img-border img-left" style="width: 75px; height; 90px;" src="https://vertafore.app.box.com/representation/file_version_31263622897/image_2048_jpg/1.jpg?shared_name=sit4vndvsu1t8a18rnl4uudo3jlvfn42" alt="">
                <hr class="visible-xs">
                <p><strong>Jake Magill, Developer</strong><br />Junior CS major at University of Washington. Jake has worked as an intern for Vertafore, Socedo and Microsoft. He has served as the Computer Chairman at his fraternity, Phi Kappa Psi, and is commonly known as good guy Jake. In his free time you can catch him on the summit at Snoqualmie as a Ski Instructor or working on his Spanish; of which he boasts a limited working proficiency.</p>
                <hr class="visible-xs">
                <img class="img-responsive img-border img-left" style="width: 75px; height; 90px;" src="https://vertafore.app.box.com/representation/file_version_31263640589/image_2048_jpg/1.jpg?shared_name=sit4vndvsu1t8a18rnl4uudo3jlvfn42" alt="">
                <hr class="visible-xs">
                <p><strong>Gloria Gronka, Marketing</strong><br />Senior at the University of Washington Bothell where she majors in Communication and edia Studies. A jack of all trades Gloria has worked in capacities ranging from Fitness Consultant to Marketing intern. Ever the chipper person Gloria is always reasonable and quick to listen as well as speak her mind. A very polite girl.</p>
                <hr class="visible-xs">
                <img class="img-responsive img-border img-left" style="width: 75px; height; 90px;" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/04f/2cc/39d99d8.jpg" alt="">
                <hr class="visible-xs">
                <p><strong>Nathan 'O Farrell, Finance</strong><br />A Junior at the University of Portland pursuing a degree in Finance, and a minor in Economics. He is heavily involved in the Phi Beta Lambda club on campus and is the treasurer for the 2014-2015 academic year. Through Phi Beta Lambda Nathan volunteered at Molly's Fund Fighting Lupus events, a nonprofit organization that raises money to help inform communities about the autoimmune disease, Lupus. During his breaks he works as an Intern at Vertafore in their Order Management department and during the semester at the University of Portland he work as a Server/Line Cook at The Cove.</p>
                <hr class="visible-xs">
                <img class="img-responsive img-border img-left" style="width: 75px; height; 90px;" src="https://vertafore.app.box.com/representation/file_version_31263598713/image_2048_jpg/1.jpg?shared_name=sit4vndvsu1t8a18rnl4uudo3jlvfn42" alt="">
                <hr class="visible-xs">
                <p><strong>Maia , HR</strong><br />Creator of activities at Vertafore. Taking tasks upon herself as she finds them Maia can often be found working on one of the many tasks assigned to her by her mentor Crystal Foo. Most recently she helped organize community outreach for Vertafore's Interns.</p>
                

            </div>
        </div>
    </div>
</div>