@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="https://c2.staticflickr.com/4/3762/19069328321_508485630a_c.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="https://c2.staticflickr.com/6/5441/17242203054_67b9de2c81_c.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="https://c1.staticflickr.com/9/8808/17907800945_656c7839ba_c.jpg" alt="">
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name">VertaMeet</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>
                        By
                        <strong>Bothell Intern Team 1</strong>
                    </small>
                </h2>
            </div>
        </div>
    </div>
    <hr />
    <a href="~/Admin">ADMIN PAGE</a>
    <hr />
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Try Something
                    <strong>NEW!</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" src="https://c1.staticflickr.com/9/8748/16967874051_648428ce49_c.jpg" alt="">
                <hr class="visible-xs">
                <p>We all feel a little more adventurous this time of year. As the sun comes out and the temperature rises, so does that restless voice inside us; urging us to live a little.</p>
                <p>Outdoor Adventures are amazing this time of year, as a result it's the prefect time to jump outside your comfort zone and meet fellow thrill seekers within Vertafore!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    There is something for
                    <strong>EVERYONE!</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" src="https://c2.staticflickr.com/8/7527/15674743983_d891d6216f_c.jpg" alt="">
                <hr class="visible-xs">
                <p>Whether you just want to get lunch, taking a small walk outside, or be fancy as an acrobatic mermaid dances above your head; VertaMeet has something for you!</p>
                <p>If you've gotten this far and you still aren't beat, remember that you can also find your people indulging in the simple things. Take a cue from us. Sit back, relax... and enjoy your Summer. On VertaMeet.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    We cater to all Vertafore's
                    <strong>LOCATIONS!</strong>
                </h2>
                <hr>
                <hr class="visible-xs">
                <div class="tiles red">
                    <table>
                        <tr>
                            <td>
                                <div class="live-tile" id="tile1" data-mode="flip">
                                    <div>
                                        <img src="https://c2.staticflickr.com/4/3722/19479858008_708bd81d0d_n.jpg" height="150" width="150">
                                        <a class="full" href="~/Office/Index/Atlanta">Atlanta</a>
                                        <span class="tile-title">Atlanta</span>
                                    </div>
                                    <div>
                                        <a href="~/Office/Index/Atlanta"><img src="https://c2.staticflickr.com/4/3672/19672356821_09e183c520_q.jpg" height="150" width="150"></a>
                                        <span class="tile-title">Atlanta</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="live-tile green" id="tile2" data-mode="flip">
                                    <div>
                                        <img src="https://c2.staticflickr.com/4/3734/19641688606_9b1940f31f.jpg" height="150" width="150">
                                        <a class="full" href="~/Office/Index/Bothell">Bothell</a>
                                        <span class="tile-title">Bothell</span>
                                    </div>
                                    <div>
                                        <a href="~/Office/Index/Bothell"><img src="https://c2.staticflickr.com/4/3811/19660791972_4806e3c1a5_q.jpg" height="150" width="150"></a>
                                        <span class="tile-title">Bothell</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="live-tile blue" id="tile3" data-mode="flip">
                                    <div>
                                        <img src="https://c1.staticflickr.com/1/258/19533991628_e69e160294_b.jpg" height="150" width="150">
                                        <a class="full" href="~/Office/Index/Boulder">Boulder</a>
                                        <span class="tile-title">Boulder</span>
                                    </div>
                                    <div style="background-color:navy;">
                                        <a href="~/Office/Index/Boulder"><img src="https://c2.staticflickr.com/4/3771/19672356911_3f72116ffb_q.jpg" height="150" width="150"></a>
                                        <span class="tile-title">Boulder</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="live-tile" id="tile1" data-mode="flip">
                                    <div>
                                        <img src="https://c1.staticflickr.com/1/387/19838651946_a3c1bdace1_c.jpg" height="150" width="150">
                                        <a class="full" href="~/Office/Index/Deerfield">DeerField Beach</a>
                                        <span class="tile-title">DeerField Beach</span>
                                    </div>
                                    <div>
                                        <a href="~/Office/Index/Deerfield"><img src="https://c1.staticflickr.com/1/427/19099920793_e6298932ac_c.jpg" height="150" width="150"></a>
                                        <span class="tile-title">DeerField Beach</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="live-tile green" id="tile2" data-mode="flip">
                                    <div>
                                        <img src="https://c2.staticflickr.com/4/3666/19667879805_b3e9ce3166_q.jpg" height="150" width="150">
                                        <a class="full" href="~/Office/Index/EastLansing">East Lansing</a>
                                        <span class="tile-title">East Lansing</span>
                                    </div>
                                    <div>
                                        <a href="~/Office/Index/EastLansing"><img src="https://c1.staticflickr.com/1/453/19713649362_2e5c269238_c.jpg" height="150" width="150"></a>
                                        <span class="tile-title">East Lansing</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="live-tile blue" id="tile3" data-mode="flip">
                                    <div>
                                        <img src="https://c1.staticflickr.com/1/257/19098245894_d2ab1be54f.jpg" height="150" width="150">
                                        <a class="full" href="~/Office/Index/Indianapolis">Indianapolis</a>
                                        <span class="tile-title">Indianapolis</span>
                                    </div>
                                    <div style="background-color:navy;">
                                        <a href="~/Office/Index/Indianapolis"><img src="https://c2.staticflickr.com/4/3785/19045306744_58daceefed_q.jpg" height="150" width="150"></a>
                                        <span class="tile-title">Indianapolis</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="live-tile" id="tile1" data-mode="flip">
                                    <div>
                                        <img src="https://c1.staticflickr.com/1/415/19700062556_9b57f89613_c.jpg" height="150" width="150">
                                        <a class="full" href="~/Office/Index/Pulaski">Pulaski</a>
                                        <span class="tile-title">Pulaski</span>
                                    </div>
                                    <div>
                                        <a href="~/Office/Index/Pulaski"><img src="https://c1.staticflickr.com/1/334/19099923183_67bf88715a_c.jpg" height="150" width="150"></a>
                                        <span class="tile-title">Pulaski</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="live-tile green" id="tile2" data-mode="flip">
                                    <div>
                                        <img src="https://c1.staticflickr.com/1/371/19535412339_00e7c0d05a_b.jpg" height="150" width="150">
                                        <a class="full" href="~/Office/Index/Windsor">Windsor</a>
                                        <span class="tile-title">Windsor</span>
                                    </div>
                                    <div>
                                        <a href="~/Office/Index/Windsor"><img src="https://c1.staticflickr.com/1/414/19098249184_a66583635f_c.jpg" height="150" width="150"></a>
                                        <span class="tile-title">Windsor</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="live-tile blue" id="tile3" data-mode="flip">
                                    <div>
                                        <img src="https://c1.staticflickr.com/1/329/19534203979_4c2160f94c_c.jpg" height="150" width="150">
                                        <a class="full" href="~/Office/Index/WoodlandHills">Woodland Hills</a>
                                        <span class="tile-title">Woodland Hills</span>
                                    </div>
                                    <div style="background-color:navy;">
                                        <a href="~/Office/Index/WoodlandHills"><img src="https://c1.staticflickr.com/1/522/19720831395_9cacaf7fcc_z.jpg" height="150" width="150"></a>
                                        <span class="tile-title">Woodland Hills</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
<script src="http://www.drewgreenwell.com/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="http://www.drewgreenwell.com/Scripts/MetroJs/bundles/MetroJs.js" type="text/javascript"></script>

<script type="text/javascript">
    //play on hover
    var $tiles = $("#tile1, #tile2, #tile3").liveTile({
        playOnHover: true,
        repeatCount: 0,
        delay: 0,
        startNow: false
    });
</script>