@{
    ViewBag.Title = "Locations";
}
@model VertaMeet.Models.OfficeViewModel
<!--
    <h2>@ViewBag.Title = "Office Location"</h2>
    <h3>@ViewBag.Message</h3>
-->

<div id="main">
    <div class="section first">
        <h2>About:</h2>
        <ul>
            <li>A proof of concept application intended to improve the company culture of Vertafore.
            <li>
            <li>This application is like a Meetup.com specialized for Vertafore. It's intention is to get people to meet up across departments and do fun activities together. For examplem the hiking interest group could collaborate on VertaMeet to get dev and sales employees together for weekly hikes.</li>
        </ul>
    </div>
    <div class="section">
        <h2>Features</h2>
        <ul>
            <li>Sample pages showing basic nav between Home, About, Local Location and Interest Groups.</li>
            <li>Message posting and viewing, allowing for communication within the location, group and event.</li>
        </ul>
    </div>
    <div class="section last">
        <h2>Future Considerations</h2>
        <ul>
            <li>/*Stuff we would add if we had time.*/</li>
        </ul>
    </div>
</div>
